<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sriramr.movieinfo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MovieApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.movies.movielist.MovieListActivity"
            android:label="@string/title_activity_movie_list"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.movies.moviemore.MovieMoreActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.movies.movielist.MovieListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.movies.movielist.MovieListActivity" />
        </activity>
        <activity
            android:name=".ui.movies.moviedetail.MovieDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.movies.movielist.MovieListActivity"
            android:theme="@style/DetailStyle" />
        <activity
            android:name=".ui.tvshows.showsmore.TvShowsMoreActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.movies.movielist.MovieListActivity" />
        <activity
            android:name=".ui.tvshows.showsdetail.TvShowDetailActivity"
            android:label="@string/title_activity_tv_show_detail"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.people.peoplepopular.PopularPeopleActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.movies.movielist.MovieListActivity" />
        <activity
            android:name=".ui.people.peopledetail.PeopleDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.discover.discover.DiscoverActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.discover.discoverdetail.DiscoverDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.discover.discover.DiscoverActivity" />
        <activity
            android:name=".ui.favourites.FavouritesActivity"
            android:label="@string/title_activity_favourites"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
    </application>

</manifest>